<!Doctype html>
<html>
<head>
<title>Create Pet Form</title>
</head>


<body>
	
	<div class="mx-auto col-10" style="margin-top: 11rem">
		<h1 class="text-center">Update Pet Info</h1>
		<h5 class="text-success" ng-bind="createStatus"></h5>
		<br>
		<form name="newPetForm">
			<div class="card-body">
			
			<div>
						<span class="font-weight-bold">Client ID:</span> <span
							ng-bind="pet.clientId" id="clientId"></span>
					</div>
					<div>
						<span class="font-weight-bold">Pet ID:</span> <span
							ng-bind="pet.petId" id="petId"></span>
					</div>
					
					<br>
			
				<div class="form-group">


					<label for="petName" class="font-weight-bold">Pet Name:</label>
					<input ng-model="pet.petName" required name="petName"
						type="text" class="form-control" id="petName"> <span
						ng-show="newPetForm.petName.$touched && newPetForm.petName.$invalid"
						class="text-danger"> *Pet Name is required* </span>
				</div>

				<div class="form-group">
					<label for="age" class="font-weight-bold">Pet Age:</label> <input
						ng-model="pet.petAge" required name="age" type="text"
						class="form-control" id="age"> <span
						ng-show="newPetForm.age.$touched && newPetForm.age.$invalid"
						class="text-danger"> *Pet age is required* </span>
				</div>

					<div class="form-group">
						<label for="gender" class="font-weight-bold">Gender:</label> <select
							ng-options="value for value in genders" required name="gender"
							ng-model="pet.gender" class="form-control" id="gender">
						</select><span
							ng-show="newPetForm.gender.$touched && newPetForm.gender.$invalid"
							class="text-danger"> Gender is required </span>
					</div>

					<div class="form-group">
						<label for="fixedStatus" class="font-weight-bold">Spay/Neuter:</label> <select
							ng-options="value for value in fixedStatuses" required name="fixedStatus"
							ng-model="pet.fixedStatus" class="form-control" id="fixedStatus">
						</select> <span
							ng-show="newPetForm.fixedStatus.$touched && newPetForm.fixedStatus.$invalid"
							class="text-danger"> Spay/Neuter Status is required </span>
					</div>

				<div class="form-group">
					<label for="breed" class="font-weight-bold">Breed:</label> <input
						ng-model="pet.breed" required name="breed" type="text"
						class="form-control" id="breed"> <span
						ng-show="newPetForm.breed.$touched && newPetForm.breed.$invalid"
						class="text-danger"> *Pet Breed is required* </span>
				</div>



				<div class="text-center">
					<button type="submit" class="btn btn-primary" id="modal"
						formaction="ADD URL HERE..." ng-click="updatePet(); goToAdminSearch()">Update</button>
					<button type="button" class="btn btn-info"
							ng-click="goToAdminSearch()">Back to Search</button>
				</div>
			</div>
		</form>
	</div>
	
	

</body>

</html>